<% include head.ejs %>
<title><%= data.title %> - moodboard</title>
<h1><%= data.title %></h1>

 <img src="static/image/moodboards<%= data.id %>.jpg" alt>
<!-- als de gerequeste id gelijk staat aan de id die behoort bij de huidige session, voer dan dit uit: -->
<% if (Number(user) === Number(session.user.id)) { %>
  <p>
    <form action="/deleteMoodboard/<%= data.id %>">
      <input
        type=submit
        id=js-remove-moodboard
        class=danger
        value=Remove></input>
    </form>
    <form action="/editMoodboard/<%= data.id %>" method=POST>
      <label><title>Title</title>:
        <input type="text" name='title' required value="<%= data.title %>">
      </label>
      <label>Image:
        <input type="email" name='email' required value="<%= data.email %>">
      </label>
      <label>Description:
        <input type="text" name='description' required value="<%= data.description %>">
      </label>

      <input
        type=submit
        id=js-edit-moodboard
        value=Edit></input>
    </form>
  </p>
<% } else { %>
  <p><%= data.description %></p>
  <p>Added by: <%= data.user %></p>



  - ID
  - title
  - owner (users.id)
  - picture of moodboard
  - description
<% } %>
<p><a href="/">Back to profiles</a></p>
<% include tail.ejs %>
